/* Landing */
.landing{
    height: 100vh;
    margin: -90px 0px 0px;
    display: grid;
}

.landingImage{
    grid-area: 1/1;
    z-index: 1;
}

.landingContainer{
    z-index: 2;
    grid-area: 1/1;
    margin: auto auto auto 15%;
}

.landingTitle{
    font-size: 3rem;
    text-align: center;
    margin: 5px;
}

.landingCaption{
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
}

/* About */
.about{
    margin: 60px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about *{
    margin: 15px auto;
}

hr{
    width: 65%;
}

@media only screen and (max-width: 1024px){
    .landing{
        height: auto;
        width: 100vw;
    }

    .landingContainer{
        margin: auto auto auto 7%;
    }

    .about{
        width: 70%;
    }
}

@media only screen and (max-width: 649px) {
    .landing{
        height: auto;
        width: 100vw;
        margin: -76px 0px 0px;
        grid-template-rows: auto min-content;
    }

    .landingImage div img{
        width: 100vw;
        height: 40vh;
        object-fit:scale-down;
    }

    .landingContainer{
        grid-column: 1;
        grid-row: 2;
        height: fit-content;
        margin: 30px auto;
    }

    .landingTitle{
        font-size: 2.5rem;
    }

    .landingCaption{
        font-size: 1.3rem;
    }

    .about{
        margin: 10px auto 30px;
        width: 80%;
    }

    .about *{
        margin: 7px auto;
    }
}