.layoutContainer{
    margin: 0px;
    padding: 0px;
}

h1.pageTitle{
    margin: 0px auto;
    text-align: center;
}

.layoutBody{
    width: 65%;
    min-width: 900px;
    min-height: calc(100vh - 90px - 53px - 35px - 94.5px);
    margin: 35px auto 0px;
}