.layoutContainer{
    margin: 0px;
    padding: 0px;
}

h1.pageTitle{
    margin: 0px auto;
    text-align: center;
    height: 60px;
}

.layoutBody{
    width: 65%;
    min-height: calc(100vh - 90px - 60px - 70px - 94.5px);
    height: fit-content;
    margin: 35px auto;
}

@media only screen and (max-width: 1024px){
    .layoutBody{
        width: 75%;
    }
}

@media only screen and (max-width: 649px){
    h1.pageTitle{
        margin: 15px auto;
    }

    .layoutBody{
        width: 80%;
        min-height: calc(100vh - 76px - 77px - 15px - 90px);
        margin: 15px auto;
    }
}