.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectCard{
    display: block;
    width: 45%;
    margin-bottom: 100px;
    color: var(--text-color);
}

.projectCard:hover{
    color: var(--link-color);
}

.projectCardIamge img{
    aspect-ratio: 16 / 9;
}

.projectCardBody{
    padding: 10px;
}

.projectCardBody h2{
    margin: 0px;
    margin-bottom: 13px;
    color: inherit;
}

.projectCardBody p{
    color: inherit;
}

@media only screen and (max-width: 649px){
    .container{
        padding-top: 20px;
    }
    .projectCard{
        width: 100%;
        margin-bottom: 6s0px;
    }
}